html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    margin: 0;
    background-color: rgb(238, 238, 238);
}
input{
    height: 25px;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(238, 238, 238);
}
select{
    height: 28.5px;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(238, 238, 238);
}
select > option{
    background-color: rgb(238, 238, 238);
}
#sumBars{
    margin: 15px;
}
#sumText{
    padding-bottom: 5px;
}
.outpurBar{
    margin: 15px;
}
.outputSum{
    margin-top: 4.5px;
    height: 26.6px;
    width: 250px;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(230, 229, 229);
}